extends layout

block content
  h1 Hola, #{user.username}
  form(method='post' action='/todo')
    input(type='text' name='description')
    input(type='submit' value='Agregar')
  each todo in todos
    form(method='post' action='/delete/todo')
      label #{todo.description}
      input(type='hidden' name='id' value=todo._id)
      input(type='submit' value='Borrar')  
  a(href='/logout') Logout        
