extends layout

block content
  h1.text-center Login
  form(method='post' action='/login')
    .form-group
      input(class='form-control' placeholder='Usuario' type='text' name='username')
    .form-group
      input(class='form-control' placeholder='Password' type='password' name='password')   
    button(type='submit' class='btn btn-primary btn-lg') Login
  
  h4.text-center ¿No tenés cuenta?
  
  h1.text-center Registrarse
  form(method='post' action='/user')
    .form-group
      input(class='form-control' placeholder='Usuario' type='text' name='username')
    .form-group
      input(class='form-control' placeholder='Password' type='password' name='password')   
    button(type='submit' class='btn btn-primary btn-lg') Registrarse
            
